.topbar{
   
    display:flex;
    justify-content:space-evenly;
    height:100px;
    align-items:center;
}
.submenu{
    display:flex;
    justify-content:center;
    gap:30px;

}
.subitemsection img{
    width:120px;
}
.sliderimage{
   
    width:100vw;
}
